<div class="card" *ngIf="!data.isOption;else cardOptions">
    <div class="titleClientName py-3 flex justify-content-center">
        {{data.name}}
    </div>
    <div class="flex justify-content-left">
        <img src="assets/images/Grupo 11.svg" class="menuButton px-2 pb-2" />
        <div class="regularLabel">{{data.title}}</div>
    </div>
</div>
<ng-template #cardOptions>
    <div class="card flex justify-content-between  px-3" (click)="onPress()">
        <div class="regularLabel optionCard ">
            {{data.name}}
        </div>
        <img src="assets/images/Grupo 16264.svg" class="arrowOption" />
    </div>
</ng-template>