<div class="header flex justify-content-between px-3 py-2">
    <img src="assets/images/Grupo 1.svg" class="backButton py-2" />
    <img src="assets/images/Grupo 6.svg" class="logoButton" />
    <img src="assets/images/Grupo 5.svg" class="xButton" />
</div>