<div [ngClass]="{overlay: !mostrarPopUp, overlayTrue: mostrarPopUp}" class="overlay flex align-content-end flex-wrap">
    <div [ngClass]="{popUpRectangle: !mostrarPopUp, popUpRectangleTrue: mostrarPopUp}" id="popUpRectangle">
        <div class="flex justify-content-center">
            <div class="popUpBar mt-2"></div>
        </div>
        <div *ngIf="!step3 && !step4 && !step5" class="px-4 regularColor">
            <div class="titleClientName pt-3"> {{name}}</div>
            <div class="regularLabel pt-3 pb-5" *ngIf="display">{{textInfo}}</div>
        </div>
        <div *ngIf="!display && !step3 && !step4 && !step5" class="px-4 pt-3 pb-5">
            <div class="regularColor regularLabel">{{textInfo2}}</div>
            <div *ngFor="let item of options; let i = index" class="pt-2">
                <div class="flex justify-content-between">
                    <div>
                        <div class="boldLabel">{{item.name}}</div>
                        <div class="smallLabel lightColor">{{item.number}}</div>
                    </div>
                    <img src="assets/images/Grupo 16353.svg" class="itemArrow" />
                </div>
                <div *ngIf="options.length-1 > i" class="line mt-2"></div>
            </div>
            <div class="regularColor regularLabel pt-2">{{textInfo3}}</div>
            <div *ngFor="let item of transferOptions" class="pt-3">
                <div class="titleClientName regularColor">{{item}}</div>
            </div>
        </div>
        <div *ngIf="step3" class="px-4">
            <div class="regularLabel regularColor pt-3">{{textInfoStep4[0]}}</div>
            <div class="titleClientName regularColor py-3">{{textInfoStep4[1]}}</div>
            <div *ngFor="let item of accounts; let i = index">
                <div class="flex justify-content-between">
                    <div>
                        <div class="boldLabel pb-1">{{item.accountType}}</div>
                        <div class="smallLabel lightColor">{{item.numberAccount}}</div>
                    </div>
                    <div class="flex justify-content-end">
                        <div>
                            <div class="boldLabel pb-1">{{item.balance}}</div>
                            <div class="smallLabel lightColor flex justify-content-end">{{item.availableBalance}}</div>
                        </div>
                        <img class="pl-3" src="assets/images/Grupo 16353.svg" />
                    </div>
                </div>
                <div class="line my-2" *ngIf="accounts.length-1 > i"></div>
            </div>
            <div class="px-2 py-4 regularLabel regularColor text-center" [innerHTML]="transferResult"></div>
        </div>
        <div *ngIf="step4 || step5">
            <div class="px-4" *ngIf="step4">
                <div class="regularLabel regularColor pt-3" [innerHTML]="transferDetails[0]"></div>
                <div class="titleClientName py-3">{{transferDetails[1]}}</div>
            </div>
            <div class="px-4 pt-3 pb-4" *ngIf="step5">
                <div *ngFor="let item of transactionConfirmation" class="regularLabel regularColor" [innerHTML] = "item"></div>
            </div>
            <div class="bg-white px-4 pt-2 pb-3 mb-4" >
                <div class="py-2">
                    <div class="flex justify-content-between" *ngIf="step5">
                        <div class="regularColor regularLabel">{{transactionVoucher[0]}}</div>
                        <div class="lightColor smallLabel">{{transactionVoucher[1]}}</div>
                    </div>
                    <div class="flex justify-content-between" *ngIf="step5">
                        <div class="boldLabel">{{transactionVoucher[2]}}</div>
                        <div class="lightColor smallLabel">{{transactionVoucher[3]}}</div>
                    </div>
                    <div class="line my-1" *ngIf="step5"></div>
                    <div class="flex justify-content-between">
                        <div class="lightColor smallLabel">{{destinyLabels[0]}}</div>
                        <div class="lightColor smallLabel">{{destinyLabels[1]}}</div>
                    </div>
                    <div class="flex justify-content-between py-1">
                        <div class="mediumLabel">{{destinyLabels[2]}}</div>
                        <div class="circleArrow pr-8">
                            <img src="assets/images/Grupo 16427.png" class="redArrow" />
                        </div>
                        <div class="mediumLabel">{{destinyLabels[3]}}</div>
                    </div>
                    <div class="flex justify-content-between">
                        <div class="lightColor smallLabel">{{destinyLabels[4]}}</div>
                        <div class="lightColor smallLabel">{{destinyLabels[5]}}</div>
                    </div>
                </div>
                <div class="greyBox mt-2 p-3">
                    <div class="smallLabel regularColor text-center">{{transactionValue[0]}}</div>
                    <div class="bigBoldLabel text-center py-1">{{transactionValue[1]}}</div>
                    <div class="line"></div>
                    <div class="flex justify-content-between pt-2">
                        <div class="smallLabel lightColor">{{transactionValue[2]}}</div>
                        <div class="mediumLabel">{{transactionValue[3]}}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex justify-content-center" *ngIf="!circleButtom">
            <div>
                <div class="mediumLabel pt-2 pb-3 flex justify-content-center" *ngIf="!step3">{{voiceOption}}</div>
                <img src="assets/images/Rectángulo 305.png" />
            </div>
        </div>
        <div class="flex justify-content-center" *ngIf="circleButtom">
            <div class="micCircle flex justify-content-center" (click)="micButton()" id="micCircle">
                <img src="assets/images/Grupo 16318.svg" class="micButton w-3" />
            </div>
        </div>

    </div>
</div>