.popUpRectangle
    height: 0%
    border-radius: 16px 16px 0px 0px
    opacity: 0

.popUpRectangleTrue
    width: 360px
    height: 36.5%
    background: #F0F0F3 0% 0% no-repeat padding-box
    border-radius: 16px 16px 0px 0px
    opacity: 1
    overflow: hidden 

.popUpBar
    width: 86px
    height: 4px
    background: #CACACA 0% 0% no-repeat padding-box
    background-color: #CACACA
    border-radius: 2px

.micCircle
    border-radius: 50%
    width: 48px
    height: 48px
    background: #E0111B 0% 0% no-repeat padding-box

:host
    height: 100%
    position: absolute
    transition: width 10s
    transition-timing-function: linear

.overlay
    height: 0%
    background: #03030399 0% 0% no-repeat padding-box
    opacity: 0

.overlayTrue
    height: 100%
    background: #03030399 0% 0% no-repeat padding-box
    opacity: 1

.redArrow
    top: 40px
    left: 172px
    width: 15px
    height: 13px
    opacity: 1

.greyBox
    background: #FAFAFC 0% 0% no-repeat padding-box
    border-radius: 12px

.circleArrow
    width: 18px
    height: 16px
    border-radius: 50%
    background: #FAFAFC 0% 0% no-repeat padding-box
