/* You can add global styles to this file, and also import other style files */
.titleClientName
    font: normal normal bold 14px/16px Roboto

.regularLabel
    font: normal normal normal 14px/16px Roboto

.boldLabel
    font: normal normal bold 16px/19px Roboto

.bigBoldLabel
    font: normal normal bold 20px/24px Roboto

.mediumLabel
    font: normal normal bold 14px/16px Roboto

.smallLabel
    font: normal normal normal 12px/14px Roboto

.regularColor
    color: #404040

.lightColor
    color: #676464

.line
    width: 100%
    height: 1px
    background: #D9D9D9 0% 0% no-repeat padding-box
